<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vera.zzl.calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".ExpressionsProvider"
            android:authorities="com.vera.zzl.calculator.core.expressionsprovider"
            android:exported="false" />

        <activity android:name=".HistoryActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:label="@string/history_name"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vera.zzl.calculator.MainActivity" />
        </activity>
    </application>

</manifest>
